<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
      src="https://kit.fontawesome.com/7c220231fd.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Michroma&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <title>Home</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="wrapper">
            <i class="fa-solid fa-bowl-food"></i>
            <h2>|</h2>
            <h3>The Healthy Crave</h3>
            </div>
             <div class="wrapper-1">
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="">Recipes</a></li>
              <li><a href="">Sigh In</a></li>
              <li><a href="">Log In</a></li>    
            </ul>
          </nav>
          <div class="search">
            <form>
              <input type="text" placeholder="Search..." name="search" />
              <button class="submit" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="icon">
          <i class="fa-solid fa-bars"></i>
        </div>
        </header>
    </div>

    <div class="back-wrapper">
    <div class="background"></div>
    <h1>Healthy Can <br>Be Tasty!</h1>
    </div>

</body>
</html>